/* 전체 컨테이너 */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9fafc;
  padding: 20px;
  box-sizing: border-box;
}

/* 로고 스타일 */
.signup-logo {
  width: 200px;
  margin-bottom: 20px;
}

/* 제목 스타일 */
.signup-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* 카드 박스 스타일 */
.signup-card {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: left;
  box-sizing: border-box;
}

/* 입력 필드 스타일 */
.input-wrapper {
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.input-group input {
  width: calc(100% - 90px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.input-group .small-button {
  width: 100px;
  padding: 10px;
  background-color: #7d3cf8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-group .small-button:hover {
  background-color: #5a28c1;
}

.input-wrapper input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.input-wrapper input:focus {
  border-color: #7d3cf8;
  outline: none;
}
.signup-footer{
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 10px;
}

.login-link{
  color: #7d3cf8;
  align-items: center;
  font-size: 14px;
}
.login-link:hover{
  color: #7d3cf8;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

/* 에러 메시지 스타일 */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* 흔들림 애니메이션 */
.shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* 버튼 스타일 */
.signup-button {
  width: 100%;
  padding: 12px;
  background-color: #7d3cf8;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
