.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  cursor: move;
}
.modalbox {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.inputContainer1 {
  display: flex;
  margin: 0 10px 5px 10px;
  gap:10px;
  font-size: 14px;
}

.inputContainer2 {
  display: flex;
  margin: 0 10px 5px 10px;
  gap:10px;
  font-size: 14px;
}

.dateLabel {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.timeLabel {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}
.titleLabel {
  margin: 10px 10px 5px 10px;
  font-size: 17px;
}
.descriptionLabel {
  margin: 10px 10px 5px 10px;
  font-size: 17px;
}

.dateLabelTitle {
  margin-bottom: 2px;
}
.timeLabelTitle {
  margin-bottom: 2px;
}

.dateInput {
  width: 85%;
  margin-bottom: 5px;
  padding: 5px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

.timeInput {
  width: 85%;
  margin-bottom: 5px;
  padding: 5px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

.titleInput {
  width: 91.5%;
  margin: 0 0 5px 10px;
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

.descriptionInput {
  flex: 1;
  height: 100px;
  width: 91.5%;
  margin: 0 0 5px 10px;
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

.addButton {
  background-color: #6f42c1;
  height: 35px;
  width: 50px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttonContainer{
  display: flex;
  justify-content: right;
  align-items: center ;
  gap:10px;
  margin: 10px;
  
}
.cancelButton {
  
  color: rgb(9, 9, 9);
  background-color: #d3c8e6;
  height: 35px;
  width: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.deleteButton{
  
  color: rgb(255, 255, 255);
  background-color: #f75d57;
  height: 35px;
  width: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
