.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  margin: 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  height: 3rem;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 20px;
  cursor: pointer;
}
.logo img {
  width: 150px;
  height: 40px;
  margin-top: 10px;
}
