/* 전체 사이드바 스타일 */
.sidebar {
  width: 200px;
  background-color: #e3e3e3;
  height: 100vh;
  overflow: hidden;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* 사이드바 숨김 */
.sidebar.hidden {
  width: 0;
  transform: translateX(-100%);
}

/* 사이드바 메뉴 스타일 */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 메뉴 항목 */
.sidebar li {
  margin: 5px 0;
}

/* 링크 스타일 */
.sidebar li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* 아이콘 */
.sidebar li a svg {
  margin-right: 10px;
  font-size: 20px;
}

/* 메뉴 호버 */
.sidebar li a:hover {
  background-color: #6e42c169;
  color: #1e293b;
}

/* 선택된 메뉴 스타일 */
.sidebar li.active {
  background-color: #6F42C1;
  font-weight: bold;
  border-radius: 4px;
}

.sidebar li.active a {
  color: #ffffff;
}

/* 선택된 메뉴의 아이콘 스타일 */
.sidebar li.active a svg {
  color: #ffffff;
}

/* 반응형 사이드바 */
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    z-index: 1000;
    height: 100%;
    left: 0;
    top: 0;
  }
}
