.fc-toolbar {
  background-color: #f0f0f0; /* 헤더 배경색 */
}

.fc-toolbar h2 {
  color: #333; /* 헤더 텍스트 색상 */
}

.fc {
  font-family: 'Arial, sans-serif'; /* 폰트 변경 */
}

.fc-day {
  background-color: #ffffff; /* 날짜 셀 배경색 */
}

.fc-day:hover {
  background-color: #e0e0e0; /* 날짜 셀 호버 색상 */
}
